body{
    background-color: #6959CD;
}

.form-label{
    color: #FFFFFF;
}

.nav-link{
    color: #FFFFFF;
}

.navbar-brand{
    color: #FFFFFF;
}

.btn{
    color: #FFFFFF;
}

.form-check-label{
    color: #FFFFFF;
}

.text-brand{
    line-height: 45px;
}

.texto-branco{
    color: #FFFFFF;
}
